@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  header {
    overflow: hidden;
  }

  body {
    @apply bg-bg-light;
  }

  input:focus, input{
    outline: none;
    outline: 0;
  }
}
